<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="appcompat.com.md_appcompat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity android:name=".MainActivity">-->
        <!--<activity android:name="appcompat.com.md_appcompat.recycleView.RecycleViewActivity">-->
        <!--<activity android:name="appcompat.com.md_appcompat.drawerlayout.DrawerActvity">-->
        <!--<activity android:name="appcompat.com.md_appcompat.NavigationView.NavigationViewActivity">-->
        <!--<activity android:name="appcompat.com.md_appcompat.snackbar.SnackBarActivity">-->
        <!--<activity android:name="appcompat.com.md_appcompat.snackbar.SnackBarActivity">-->
        <!--<activity android:name="appcompat.com.md_appcompat.textInputLayout.TextInputLayoutActivity">-->
        <!--<activity android:name="appcompat.com.md_appcompat.toolbar.ToolBarActivity">-->
        <!--<activity android:name="appcompat.com.md_appcompat.searchview.SearchViewActivity">-->
        <!--<activity android:name="appcompat.com.md_appcompat.tabLayout.TabLayoutActivity">-->
        <!--<activity android:name="appcompat.com.md_appcompat.NavigationBar.NavigationBarActivity">-->
        <!--<activity android:name="appcompat.com.md_appcompat.NavigationBar.NavigationBottomBarActivity">-->
        <!--<activity android:name="appcompat.com.md_appcompat.NavigationBar.BaseTranslateActivity">-->
        <!--<activity android:name="appcompat.com.md_appcompat.CoordinatorLayout.CoordinatorLayoutActivity">-->
        <!--<activity android:name="appcompat.com.md_appcompat.cardView.CardViewActivity">-->
        <!--<activity android:name="appcompat.com.md_appcompat.FloatingActionBar.FloatingActionBarActivity">-->
        <!--<activity android:name="appcompat.com.md_appcompat.CoordinatorLayout.CoordinatorLayoutActivity">-->
        <!--<activity android:name="appcompat.com.md_appcompat.AppBarLayout.AppBarLayoutActivity">-->
        <!--<activity android:name="appcompat.com.md_appcompat.AppBarLayout.BehaviorActivity">-->
        <!--<activity android:name="appcompat.com.md_appcompat.CollapsingToolbarLayout.CollapsingToolBarLayoutActivity">-->
        <!--<activity android:name="appcompat.com.md_appcompat.CustomBehavior.CustomBehaviorActivity">-->
        <!--<activity android:name="appcompat.com.md_appcompat.CustomBehavior.CustomBehaviorActivity2">-->
        <!--<activity android:name="appcompat.com.md_appcompat.PropertyAnim.PropertyAnimActivity">-->
        <activity android:name="appcompat.com.md_appcompat.MDAnimal.MDActivity">
        <!--<activity android:name="appcompat.com.md_appcompat.ConstraintLayout.ConstraintLayoutActivity">-->
        <!--<activity android:name="appcompat.com.shap.layerListActivity">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>